.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
input,
button {
  margin: 10px;
  height: 30px;
  width: 200px;
}
ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
li {
  list-style: none;
  border: 2px solid black;
  padding: 5px;
}
.show {
  display: block;
}
.hide {
  display: none;
}

.shadow-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
